<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/CSS/css")
</head>
<body>
    <div id="logo">
        <div id="logo_left">
            <img src="~/Images/page_logo.png" width="325" height="55" id="page_logo" />
            <img src="~/Images/login.png" width="50" height="50" id="loginimg" />
            <a href="zhuce.html"><div class="logo_left_zhuye">我的主页</div></a>
            <a href="study.html"><div class="logo_left_xuexi">我的学习</div></a>
            <a href="Class.html"><div class="logo_left_class">我的班级</div></a>
            <a href="#"><div class="logo_left_news">通知新闻</div></a>
            <a href="#"><div class="logo_left_hudong">我的互动</div></a>
        </div>
        <div id="logo_right">
            <img src="~/Images/stu_page_logo.png" id="stu_page_logo" />
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="foot"></div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", required: false)
</body>
</html>
